# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
doc/.vs/MazeGame/v16/.suo
.vs/MazeGame/v16/.suo
.vs/MazeGame/v16/Browse.VC.db
Maze-Game/x64/Debug/Maze-Game.log
Maze-Game/x64/Debug/Maze-Game.tlog/Maze-Game.lastbuildstate
